body{
  background-color: brown;
}
.App {
  text-align: center;
}
.Header {
  background-color: rgb(231, 149, 36);
  padding: 10px;
  color: bisque;
}
.pic1 {
  width: 25%;
}
.Child {
  background-color: rgb(222, 239, 246);
  padding: 10px;
  color: rgb(170, 85, 20);
}
.pic2 {
  width: 25%;
}